/*Color pallet: white-graysh #EEEEEE , dark-blue #212832, light-blueish #4E8A8A, yellowish #FBD46D*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Kanit', sans-serif;
  margin: 0;
  background-color:#e7e7e7;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 57px 1fr auto;
  grid-template-areas:
      "navigation"
      "content"
      "footer";
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

/*loader*/
.loader-wrap {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container{
  padding: 10px;
  background-color: #212832;
  border-radius: 10px;
  border: 3px solid #FBD46D;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: border_1 500ms alternate infinite ease;
}

.loader-text {
  color: #FBD46D;
  display: inline-block;
  margin-left: 5px;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  animation: textColor_1 500ms alternate infinite ease;
}

.loading-container .fa-paw{
  color: #FBD46D;
  font-size: 1rem;
  position: relative;
  animation: bounce_paw 500ms alternate infinite ease;
}

/*navigation admin*/
.admin-main-header{
  grid-area: navigation;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #212832;
  padding: 0.5rem 0.2rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: border_1 1s infinite alternate ease-in-out;
  border-bottom: 4px solid #FBD46D;
}

.a-toggle-button{
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.a-toggle-button:focus{
  outline: none;
}

.a-toggle-button i{
  font-size: 2.5rem;
  color: #FBD46D;
  transition: 0.3s;
}

.a-toggle-button i:hover{
  text-shadow:  0px 1px 8px #FBD46D;
}

.a-main-header_brand{
  color: #FBD46D;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: 'Audiowide', cursive;
}

.top-nav_items{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.top-nav_item{
  margin: 0 0.5rem;
}

.top-nav_item a{
  color: #212832;
  font-size: 1.3rem;
  border: 2px solid #212832;
  background: #FBD46D;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  font-family: 'Bangers', cursive;
  text-decoration: none;
  transition: 0.3s;
}

.top-nav_item a:hover{
  color: #FBD46D;
  background: #212832;
  border: 2px solid #FBD46D;
}

.a-top-left{
  display: flex;
  align-items: center;
}

/*admin-slider*/
.slider-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background:#11151a;
  border-right: 5px solid #FBD46D;
  width: 60%;
  height: 100vh;
}

.s-close-button{
  align-self: start;
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  margin: 9px 0;
}

.s-close-button:focus{
  outline: none;
}

.s-close-button i{
  font-size: 2.5rem;
  color: #FBD46D;
  transition: 0.3s;
}

.s-close-button i:hover{
  text-shadow:  0px 1px 8px #FBD46D;
}

.slider-nav_items {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.slider-nav_item {
  border-top: 1px solid #FBD46D;
  border-bottom: 1px solid #FBD46D;
  width: 100%;
  min-height: 70px;
  cursor: pointer;
  color: #FBD46D;
  transition: 0.3s;
}

.slider-link-nav_item{
  color: inherit;
  text-decoration: none;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
} 

.slider-btn-nav_item{
  color: #FBD46D;
  background-color: #11151a;
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.slider-btn-nav_item:hover,
.slider-btn-nav_item:active{
  background: #FBD46D;
  color: #212832;
}

.slider-nav_item:hover{
  background: #FBD46D;
  color: #212832;
}

.slider-nav_item_sub_wrapper,
.slider-nav_item_sub_wrapper_animals{
  display: none;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.show{
  display: flex;
}

.slider-nav_item_sub{
  border-top: 1px solid #FBD46D;
  border-bottom: 1px solid #FBD46D;
  width: 100%;
  min-height: 50px;
  cursor: pointer;
  color: #FBD46D;
  transition: 0.3s;
}

.slider-nav_item_sub a{
  font-size: 1.2rem;
  font-weight: normal;
}

.slider-nav_item_sub:hover{
  background: #FBD46D;
  color: #212832;
}

.open {
    display: block !important;
}

/*Admin animal dashboard*/
.animal-dashboard-content{
  grid-area: content;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.animal-page-wrapper{
  opacity: 0;
  position: absolute;
  bottom:700px;
}

.animal-overview-title-container{
  margin-top: 10px;
  min-width: 300px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212832;
  border-radius: 20px;
  border: 2px solid #FBD46D;
}

.animal-overview-title-container p{
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: #FBD46D;
  font-family: 'Audiowide', cursive;
}

.animal-overview-form-search{
  margin-top: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  width: 330px;
  background-color: #212832;
  border-radius: 10px;
  border: 2px solid #FBD46D;
  color: #FBD46D;
}

.animal-overview-form-all{
  width: 100px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#input_search_name{
  margin:0 2px;
  border-radius: 5px;
  background-color: #212832;
  color: #FBD46D;
  border: 2px solid #FBD46D;
}

.animal-search-submit-btn{
  height: 50%;
  width: 70px;
  padding-top: 5px;
  cursor: pointer;
  color: #212832;
  font-size: 1rem;
  border: 2px solid #212832;
  background: #FBD46D;
  border-radius: 8px;
  font-family: 'Bangers', cursive;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 1px;
  text-align: center;
}

.animal-showall-btn{
  height: 50%;
  width: 100px;
  padding-top: 5px;
  cursor: pointer;
  color: #212832;
  font-size: 1.3rem;
  border: 3px solid #FBD46D;
  background: #FBD46D;
  border-radius: 8px;
  font-family: 'Bangers', cursive;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 1px;
  text-align: center;
}

.animal-showall-btn:hover{
  background-color: #212832;
  color: #FBD46D;
}

.animal-overview-form-all input{
  padding: 0.4rem 0.5rem;
  width: 100px;
  font-size: 1.3rem;
}

.animal-overview-container{
  margin-top: 2.5px;
  min-height: 440px;
  border-radius: 20px;
  background-color: #212832;
  border: 2px solid #FBD46D;
}

.animal-overview-list{
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 320px;
  border-radius: 20px;
}

.animal-container-btn{
  margin: 2.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-height: 60px;
  border: 2px solid #FBD46D;
  background-color: #212832;
  cursor: pointer;
  border-radius: 10px;
  font-family: inherit;
  color: #FBD46D;
  transition: 0.3s;
}

.animal-container-btn:hover{
  background-color: #FBD46D;
  color: #212832;
}

.animal-container-btn img{
  border: 2px solid #FBD46D;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.animal-container-name{
  height: 100%;
  min-width: 15%;
  margin: 5px 0;
  font-weight: bold;
  align-self: flex-end;
  border: 1px solid #FBD46D;
  border-radius: 5px;
  font-size: 0.7rem;
}

.animal-short-info{
  height: 100%;
  width: 65%;
}

.animal_selected{
  box-shadow: 0 0 6px 1px #FBD46D;
  background-color: #FBD46D;
  color: #212832;
}

.animal-overview-list-controls{
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.a-first-page-btn,
.a-previous-page-btn,
.a-last-page-btn,
.a-next-page-btn{
  display: none;
  margin: 5px;
  width: 60px;
  height: 40px;
  color: #FBD46D;
  background-color: #212832;
  border: 2px solid #FBD46D;
  padding-top: 5px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.4rem;
  text-align: center;
  text-shadow: 0 0 3px #212832;
  font-family: 'Audiowide', cursive;
  cursor: pointer;
}

.a-first-page-btn:hover,
.a-previous-page-btn:hover,
.a-last-page-btn:hover,
.a-next-page-btn:hover{
  color:#212832;
  background-color: #FBD46D;
}

.push {
  margin-left: auto;
}

.animal-overview-form{
  min-width: 340px;
  min-height: 120px;
  border-radius: 20px;
  margin: 2.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #FBD46D;
  background-color: #212832;
  color: #FBD46D;
}

#input_selected_id{
  border-radius: 5px;
  background-color: #212832;
  color: #FBD46D;
  border: 2px solid #FBD46D;
  text-align: center;
}

.animal-form-overview-btn-wrap{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animal-overview-submit-btn{
  width: 25%;
  cursor: pointer;
  color: #212832;
  font-size: 1.3rem;
  border: 2px solid #212832;
  background: #FBD46D;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  font-family: 'Bangers', cursive;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 1px;
}

.animal-overview-submit-btn:hover,
.animal-search-submit-btn:hover{
  color: #FBD46D;
  background: #212832;
  border: 2px solid #FBD46D;
}
/*Admin animal edit*/
.admin-animal-edit-content{
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.animal-edit-wrapper{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 90%;
  height: 100%;
  background-color: #212832;
  border-radius: 20px;
}

.animal-edit-form{
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(100px, auto) minmax(280px, auto) minmax(150px,auto) minmax(200px,auto) repeat(6, minmax(100px,auto));
  grid-template-areas: "animalTypeRb"
                        "animalImageArea"
                        "animalImageInputArea"
                        "animalDescArea"
                        "animalNameInputArea"
                        "animalBreedInputArea"
                        "animalAgeInputArea"
                        "animalSexInputArea"
                        "animalSizeInputArea"
                        "animalFormMainBtns";
}

.animal-id-wrapper{
  opacity: 0;
  position: absolute;
  bottom:700px;
}

.rbtns-typeArea{
  grid-area: animalTypeRb;
}

.rbtns-genderArea{
  grid-area: animalSexInputArea;
}

.animal-rbtns-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Audiowide', cursive;
}

.animal-rb-type-wrapper{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #FBD46D;
}

.radio__input {
  display: flex;
  flex-direction: column-reverse;
}

.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
  position: relative;
  bottom: 18px;
}

.radio__control {
  display:grid;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  place-items: center;
}

.radio__input input + .radio__control::before {
  content: "";
  width: .5em;
  height: .5em;
  box-shadow: inset .5em .5em #FBD46D;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);    
}

.radio__input input:checked + .radio__control::before {
  transform: scale(1);
}

.radio__input input:focus + .radio__control {
  box-shadow: 0 0 0.15em 0.1em #fbd56d91;
}

.animal-image-wrapper{
  grid-area: animalImageArea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.animal-image-wrapper img{
  margin-top: 15px;
  height: 250px;
  width: 250px;
  border-radius: 20px;
  border: 5px solid #FBD46D;
}

.animal-img-inputArea-wrapper{
  grid-area: animalImageInputArea;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animal-image-input-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  width: 90%;
  border-radius: 10px;
  border: 5px solid #FBD46D;
}

.animal-image-input-wrapper input{
  border-radius: 5px;
  background-color: #212832;
  color: #FBD46D;
  border: 2px solid #FBD46D;
  width: 60%;
  height: 30px;
  font-size: 1.1rem;
}

.animal-edit-btn{
  width: 110px;
  height: 30px;
  color: #FBD46D;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #212832;
  border-radius: 8px;
  font-family: 'Bangers', cursive;
  cursor: pointer;
  border: 2px solid #FBD46D;
  transition: 0.3s;
  padding-top: 0.2rem;
  text-align: center;
}

.animal-edit-btn:hover{
  background-color: #FBD46D;
  color: #212832;
}

.animal-descriptionArea-wrapper{
  grid-area: animalDescArea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
}

.animal-description-input-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.animal-description-input-wrapper label{
  font-size: 1.3rem;
  color: #FBD46D;
  font-family: 'Audiowide', cursive;
}

textarea#input_animal_edit_description{
  resize: none;
  height: 200px;
  width: 90%;
  border-radius: 10px;
  background-color: #212832;
  color: #FBD46D;
  border: 2px solid #FBD46D;
}

.aNameArea-wrapper{
  grid-area: animalNameInputArea;
}

.aBreedArea-wrapper{
  grid-area: animalBreedInputArea;
}

.aSpeciesArea-wrapper{
  grid-area: animalBreedInputArea;
}

.aAgeArea-wrapper{
  grid-area: animalAgeInputArea;
}

.animal-sizeArea-wrapper{
  grid-area: animalSizeInputArea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.animal-mainArea-btns-wrapper{
  grid-area: animalFormMainBtns;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.animal-text-inputArea-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90px;
}

.animal-text-input-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.animal-text-inputArea-wrapper label{
  font-size: 1.3rem;
  color: #FBD46D;
  font-family: 'Audiowide', cursive;
}

.animal-text-inputArea-wrapper input{
  border-radius: 5px;
  background-color: #212832;
  color: #FBD46D;
  border: 2px solid #FBD46D;
  width: 60%;
  height: 30px;
  font-size: 1.1rem;
}

.animal-sizeArea-wrapper label{
  font-size: 1.3rem;
  color: #FBD46D;
  font-family: 'Audiowide', cursive;
}

.animal-size-input-container{
  display: flex;
  flex-direction: column-reverse;
}

.animal-size-input-container select{
  border-radius:10px;
  background-color: #FBD46D;
  color: #212832;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  cursor: pointer;
}

.animal-size-input-container::before {
  content: "\f13a";
  font-family: FontAwesome;
  display: block;
  position: relative;
  width: 20%;
  height: 49px;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color:#FBD46D;
  background-color: #212832;
  pointer-events: none;
  border-radius: 0 10px 10px 0;
  border: 1px solid #FBD46D;
  bottom: 50px;
  left:200px;
}

.animal-submit-btn{
  border: 2px solid #FBD46D;
  cursor: pointer;
  width: 120px;
  text-decoration: none;
  color: #FBD46D;
  font-size: 1.3rem;
  background-color: #212832;
  padding: 0.5rem 1.9rem;
  border-radius: 8px;
  font-family: "Bangers", cursive;
  transition: 0.3s;
}

.animal-submit-btn:hover{
  background-color: #FBD46D;
  color: #212832;
}
.animal-error{
  display: none;
  margin-top: 4px;
  align-self: center;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-radius: 5px;
  width: 85%;
  background: rgba(238, 37, 37, 0.849);
  color: #e0e0e0;
  box-shadow: 0 1px 6px 0 #f73434;
}

.animal-error-overview{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  align-self: center;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-radius: 5px;
  width: 330px;
  background: rgba(238, 37, 37, 0.849);
  color: #e0e0e0;
  box-shadow: 0 1px 6px 0 #f73434;
}
  
/* navigation */
.main-header {
  grid-area: navigation;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #4E8A8A;
  padding: 0.5rem 0.2rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*border-bottom: 2px solid #ff1b6770;*/
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button_bar {
  width: 100%;
  height: 0.25rem;
  background: #FBD46D;
  display: block;
  margin: 0.5rem 0;
  border-radius: 2px;
}

.main-header_brand {
  color: #FBD46D;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  /* width: 20px; */
}

.main-header_brand img {
  height: 2.5rem;
  vertical-align: middle;
  /* width: 100%; */
}

.main-nav {
  display: none;
}

.main-nav_items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav_item {
  margin: 0 0.5rem;
}

.main-nav_item a,
.mobile-nav_item a {
  text-decoration: none;
  color: #212832;
  font-weight: bold;
  padding: 0.2rem 0;
  transition: 0.3s;
}

.main-nav_item a:hover,
.main-nav_item a:active {
  color: #FBD46D;
  border-bottom: 3px solid #FBD46D;
}

.main-nav_item--cta a,
.mobile-nav_item--cta a {
  color: #FBD46D;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #212832;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  font-family: 'Bangers', cursive;
}

.main-nav_item--cta a:hover,
.main-nav_item--cta a:active,
.mobile-nav_item--cta a:hover,
.mobile-nav_item--cta a:active {
  color:#212832;
  background: #FBD46D;
  border: none;
}

.main-nav_item--user{
  display: none;
  background-color: #FBD46D;
  border: 1.5px solid #212832;
  border-radius: 5px;
  cursor: default;
  font-size: 1rem;
  animation: borderColorChange 5s infinite alternate;
}

@keyframes borderColorChange{
  0%
  {
    box-shadow: 0 2px 10px 0 #212832;
  }
  }

.main-nav_item--user p{
  display: none;
  font-family: 'Bangers', cursive;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 0 3px;
  margin: 0;
  color: #212832;
}

.main-nav-item--admin{
  position: absolute;
  top:66px;
  right: 5px;
}

.main-nav-item--admin a{
  opacity: 80%;
}

.main-nav-item--admin a:hover{
  opacity: 100%;
}

/* homepage content */

.main-index-content{
  /* min-height: calc(100vh - 3.5rem - 8rem);
  margin-top: 3.5rem; */
  grid-area: content;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px auto auto auto 600px 1500px;
  grid-template-areas: "ad"
                        "info"
                        "info"
                        "info"
                        "news"
                        "pets";
}

/*About us~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.user-box-animalHome{
  margin: 0;
  font-family: 'Bangers', cursive;
  text-align: center;
  text-transform: uppercase;
  color: #212832;
  font-size: 50px;
}

.user-info-about-top h2,
.user-info-about-bot h2{
  margin: 0;
  font-family: 'Bangers', cursive;
  text-align: center;
  text-transform: uppercase;
  color: #212832;
  font-size: 50px;
  
  opacity: 0.9 ; background-color: #FBD46D;
}
.user-info-about-top p{
  opacity: 0.9;
  color: #212832;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  text-shadow:  0px 8px 16px #212832;
}


.user-info-about-top{
  grid-area: info;
  /* text-align: center;
  text-transform: uppercase;
  color: #4CAF50; */
  /* display: grid;
  grid-template-rows: 300px 150px 300px;
  grid-template-columns: 1fr 1fr 1fr; */
}
.user-info-about-bot {
  grid-area: mid-info;
}
/* 
.AboutUs_Title_Top{
  font-size: 80px;
} */



.user-info-format{
  padding-bottom: 15px;
  display: grid;
  grid-template-rows: minmax(300px,auto) minmax(150px,auto) minmax(300px,auto) minmax(300px,auto);
  height: 100%;
  width: 100%;
  /* grid-template-columns: 30% 30% 30%;
  margin-left: 5%;
  margin-right: 5%; */
  grid-area: content;
  grid-template-areas: "image image image"
                        "info info info"
                        "cards cards cards"
                        "mid-info mid-info mid-info"
                        "imgA imgA imgA"
                        "findUs findUs findUs";
  
}

.user-info-languages {
  padding-top: 1.2rem;
  
  display: grid;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  border-radius: 10px;
  font-weight: bold;
}

.user-info-goals {
  /* grid-area: cards;
  display: flex;
  margin: 30px;
  justify-content: space-between;
  align-items: center; */
  grid-area: cards;
  display: flex;
  flex-direction: column;
  /* margin: 30px; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* gap: 15%;
  grid-template-columns: 300px 300px 300px; */
  /* align-items: center; */
  /* justify-items: center; */
}



.user-box-decisions{

  color: whitesmoke;
    /* width: 100%; */
    height: 200px;
    text-align: center;
    margin: 5px;
    /* padding: 20px; */
    /* width: 400px; */
    justify-content: center;
   align-items: center;
    background-color: #4E8A8A;
    border-radius: 10px;
  
}

.user-box-decisions h1{
color: #212832;
letter-spacing: 2px;
}

.user-info-background{
  width: 100%;
  height: 100%;
  /* background: url("https://images.squarespace-cdn.com/content/v1/5acd6d2a3e2d09e44728ddca/1527468003389-N8QZJFVE2DLND7CA2C0K/ke17ZwdGBToddI8pDm48kD3ocTZ4v8P4rSvMCk9axU4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dqjl4qTU-1OkpLpRP9EKV7n1nTKZ7-T-Tb8BoZDIbhTNH3bqxw7fF48mhrq5Ulr0Hg/fostering.jpg?format=1500w") no-repeat cover; */
  background: url('https://images.squarespace-cdn.com/content/v1/5acd6d2a3e2d09e44728ddca/1527468003389-N8QZJFVE2DLND7CA2C0K/ke17ZwdGBToddI8pDm48kD3ocTZ4v8P4rSvMCk9axU4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dqjl4qTU-1OkpLpRP9EKV7n1nTKZ7-T-Tb8BoZDIbhTNH3bqxw7fF48mhrq5Ulr0Hg/fostering.jpg?format=1500w') no-repeat center;
  background-size: cover;
}

.user-box-decisions:hover{
  box-shadow: 2px 2px 6px 0px #4E8A8A;
}

.user-info-section{
  

  width: 100%;
  height: 100%;
  grid-area: image;
  overflow: hidden;

}

.user-info-bot-animal-format{
  background-color: #4E8A8A;
  grid-area: imgA;
  display: flex;
  flex-direction: column;
  /* grid-area: img; */
  width: 100%;
  height: 930px;
  border-radius: 8px;
  /* margin: 30px; */
  border: solid  8px #4E8A8A;
   /* object-fit: contain; */
  justify-content: space-between;
  align-items: center;
}

.user-info-bot-animal-pic1{
  
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: 30px; */
   /* border:0.75em black solid; */
  width:  100%;
  height: 300px;
  background: url('https://petsguidemagazine.com/wp-content/uploads/2018/08/scoop_topspot_650-x-3201.png') no-repeat center;
  background-size: cover;
}
.user-info-bot-animal-pic2{
  
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: 30px; */
  width:  100%;
  height: 300px;
  /* background: url("https://images.squarespace-cdn.com/content/v1/5acd6d2a3e2d09e44728ddca/1527468003389-N8QZJFVE2DLND7CA2C0K/ke17ZwdGBToddI8pDm48kD3ocTZ4v8P4rSvMCk9axU4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dqjl4qTU-1OkpLpRP9EKV7n1nTKZ7-T-Tb8BoZDIbhTNH3bqxw7fF48mhrq5Ulr0Hg/fostering.jpg?format=1500w") no-repeat cover; */
  background: url('https://d17fnq9dkz9hgj.cloudfront.net/uploads/2012/11/124006504-supporting-local-shelter-632x475.jpg') no-repeat center;
  background-size: cover;
}
.user-info-bot-animal-pic3{
  
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: 30px; */
  /* grid-column: auto; */
  width:  100%;
  height: 300px;
  /* background: url("https://images.squarespace-cdn.com/content/v1/5acd6d2a3e2d09e44728ddca/1527468003389-N8QZJFVE2DLND7CA2C0K/ke17ZwdGBToddI8pDm48kD3ocTZ4v8P4rSvMCk9axU4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dqjl4qTU-1OkpLpRP9EKV7n1nTKZ7-T-Tb8BoZDIbhTNH3bqxw7fF48mhrq5Ulr0Hg/fostering.jpg?format=1500w") no-repeat cover; */
  background: url('https://www.chasingdaylight.org/i/1300109874236/n/images/header_image.jpg') no-repeat center;
  background-size: cover;
}

.find-us-container-wrapper{
  margin-top: 10px;
  grid-area: findUs;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.find-us-container-wrapper h1{
  width: 100%;
  background-color: #FBD46D;
  opacity: 0.9;
  color: #212832;
  font-family: 'Bangers', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  letter-spacing: 1px;
}

.find-us-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
}

#google-map{
  width: 100%;
  height: 300px;
  border-radius: 20px;
  border: 4px solid #212832;
}

.find-us-container-info{
  background:#212832;
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 10px;
  border: 4px solid #4E8A8A;
}

.find-us-container-info p{
  margin: 0;
  text-align: center;
  color: #e0e0e0;
  font-size: 1.3rem;
}

/*Donations*/

.text_center_img {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-info-section img{
  /* display: block; */
  position: absolute;
  height: 100%;
  width: 100%;      
  
        
}

.adv-showcase{
  grid-area: ad;
  height: 300px;
  display: flex;
  background: url('images/pug.png') no-repeat center;
  background-size: cover;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 3px solid#FBD46D;
  border-radius: 0px 0px 10px 10px;
}

.adv-donate-btn{
  margin-bottom: 10px;
  width: 140px;
  height: 50px;
  color: #212832;
  background: #FBD46D;
  border: 4px solid #FBD46D;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Bangers', cursive;
  transition: 0.3s;
}


.adv-donate-btn:hover{
  color: #FBD46D;
  background: #212832;
}

.d-info{
  padding-top: 1.2rem;
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  border-radius: 10px;
  font-weight: bold;
}

.d-info > div{
  height: 280px;
  width: 300px;
}

.d-medicine{
  background-color:#212832;
  border-radius: 10px;
}

.d-medicine:hover{
  box-shadow: 2px 2px 6px 0px #212832;
}

.d-food{
  background-color: #FBD46D;
  color: #212832;
  border-radius: 10px;
}

.d-food:hover{
  box-shadow: 2px 2px 6px 0px #FBD46D;
}

.d-toys{
  background-color: #4E8A8A;
  border-radius: 10px;
}

.d-toys:hover{
  box-shadow: 2px 2px 6px 0px #4E8A8A;
}

.adv-title{
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Bangers', cursive;
  text-align: center;
}

.d-info > div > p{
  text-align: center;
  padding: 0 10px;
  font-size: 0.9rem;
}


/*New pet card & featured pet cards*/
.f-pets{
  grid-area: pets;
}

.new-pet-title{
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Bangers', cursive;
  color: whitesmoke;
  letter-spacing: 2px;
  clip-path: polygon(100% 0, 100% 50%, 93% 100%, 0% 100%, 0 51%, 0% 0%);
  background-color:#4E8A8A;
  width: 100%;
  padding: 10px;
}

.f-pet-title{
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 7% 100%, 0 51%, 0% 0%);
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  font-family: 'Bangers', cursive;
  color: whitesmoke;
  letter-spacing: 2px;
  background-color: #212832;
}

.new-pet{
  grid-area: news;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-pet-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.f-pet-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pet-card a{
  text-decoration: none;
  color: white;
  background: #212832;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-family: 'Bangers', cursive;
}

.pet-card:hover{
  box-shadow: 0 0 6px 1px #212832;
}

.pet-card a:hover{
  color: #212832;
  background: #eeeeee;
  border: 1px solid #212832;
}

.new-pet-card,
.pet-card{
  /* flex: 0 0 200px; */
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.pet-card img{
  height: 250px;
  border-radius: 5px 5px 5px 5px;
  border-bottom: 2px solid #212832;
  width: 100%;
}

.new-pet-card img{
  width: 100%;
  height: 250px;
  border-radius: 5px 5px 5px 5px;
  border-bottom: 2px solid #212832;
}

.new-pet-text,
.pet-text{
  padding: 0 20px 20px;
  text-align: center;
}

.pet-card h3{
font-size: 1.5rem;
text-align: center;
font-family: 'Bangers', cursive;
color: #212832;
}

.new-pet-card h3{
font-size: 1.5rem;
text-align: center;
font-family: 'Bangers', cursive;
color: #212832;
}


/* gallery content*/

.main-gallery-content{
  grid-area:content;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 150px minmax(1000px, max-content);
  grid-template-areas: "filter"
                        "pets-gallery";
}

.animal-quick-filter-container{
  border: 3px solid #4E8A8A;
  font-family: 'Bangers', cursive;
  display: flex;
  margin: 20px;
  background-color: #4E8A8A;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px #212832;
}

.quick-filter-text{
  border-radius: 6px 0 0 6px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  font-size: 1rem;
  color: #eeeeee;
}

.quick-filter-text h1{
  margin: 5px;
  letter-spacing: 2px;
}

.animal-quick-filter-container form{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dog-filter-btn,
.cat-filter-btn,
.bird-filter-btn,
.all-filter-btn{
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Bangers', cursive;
  color: #4E8A8A;
  background-color: #212832;
  letter-spacing: 2px;
}

.dog-filter-btn{
  border-right: 1px solid #4E8A8A;
}
.bird-filter-btn{
  border-radius: 0 6px 6px 0;
  border-left: 1px solid #4E8A8A;
}

.all-filter-btn{
  border-radius: 6px 0 0 6px;
  border-right: 1px solid #4E8A8A;
}

.dog-filter-btn:hover,
.cat-filter-btn:hover,
.bird-filter-btn:hover,
.all-filter-btn:hover{
  background-color: #4E8A8A;
  color: #212832;
  border: 1px solid #212832;
}

.pet-gallery{
  grid-area: pets-gallery;
}

.pet-gallery-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pet-gallery-cards a{
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pet-card-gallery{
  /* flex: 0 0 200px; */
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  transition: box-shadow 250ms;
  border: 3px inset #4E8A8A;
}

.pet-card-gallery:hover{
  box-shadow: 0 2px 10px 0 #4E8A8A;
}

.pet-card-gallery img{
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 5px 5px;
  clip-path: ellipse(86% 59% at 52% 41%);
}

.pet-card-gallery .pet-name{
  margin: 2px;
font-size: 1.5rem;
text-align: center;
font-family: 'Bangers', cursive;
color:  #212832;
text-shadow: 0 0 3px #4E8A8A;
}

.pcg-text{
  text-align: center;
  border-radius: 3px;
}

.pcg-text p{
  font-size: 0.9rem;
  margin: 0;
  color: #212832;
}

.nav-gallery-btns{
  display: flex;
  align-items: center;
}

.first-page-btn,
.previous-page-btn,
.last-page-btn,
.next-page-btn{
  width: 80px;
  height: 60px;
  margin: 3px;
  color: #212832;
  background:#4E8A8A ;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 0 0 3px #212832;
}

.first-page-btn:hover,
.previous-page-btn:hover,
.last-page-btn:hover,
.next-page-btn:hover{
  color:#212832;
  background: #FBD46D;
  border: none;
}

.push {
  margin-left: auto;
}

/*Pet showcase*/
.main-animal-view-content{
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animal-view-info-card{
  width: 90%;
  min-height: 320px;
  border-radius: 20px;
  box-shadow: 0 2px 10px 0 #b8b8b8;
  margin: 20px;
}

.animal-view-card-top{
  min-height: 200px;
  background: url('images/animal-view-background.png') no-repeat center;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#av-animal-type-img{
  display: none;
}

.animal-view-main-image{
  width: 225px;
  height: 200px;
  border-radius: 25px;
  position: relative;
  top: 50px;
}

#av-animal-main-img{
  width: 225px;
  height: 200px;
  border-radius: 20px;
  border: 4px solid #FBD46D;
  background-color: #4E8A8A;
}

.animal-view-name{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 230px;
  left:20px;
  width: 180px;
  height: 50px;
  background-color: #212832;
  border: 4px solid #FBD46D;
  border-radius: 10px;
  text-align: center;
  color: #FBD46D;
  font-family: 'Bangers', cursive;
  font-size: 1.7rem;
}

.animal-view-name p {
  margin: 0;
  letter-spacing: 2px;
}

.animal-view-paws{
  display: none;
}

.animal-view-short-info{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100px;
  text-align: center;
}

.animal-view-short-info p{
  margin: 0;
}

.animal-view-description{
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 90%;
  box-shadow: 0 2px 10px 0 #b8b8b8;
  border-radius: 20px;
  margin-bottom: 20px;
}

.av-description-top{
  width: 100%;
  height: 60px;
  border-radius: 15px;
  background-color: #4E8A8A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.av-description-top p{
  margin: 0;
  font-size: 2rem;
  font-family: 'Bangers', cursive;
  color: #ececec;
}

.av-description-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.av-description-body p{
  margin: 20px;
  text-align: center;
}

/*user section*/

/*login & register section*/

.background-login-signup{
  position: fixed;
  display: border-box;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100vw;
  height: 100vh;
  background-color: #FBFBAF;
  background-image: radial-gradient(circle, #4E8A8A 62%, transparent 60%), radial-gradient(circle, #4E8A8A 62%, transparent 60%);
  background-size: 159px 101px;
  background-position: -2px 9px, 56px 61px;
}

.main-login-content,
.main-register-content{
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container,
.register-container{
  background-color: antiquewhite;
  display: grid;
  height: 640px;
  width: 380px;
  padding: 31px;
  /*Center*/
  margin: 20px 0;
  border: 3px solid #4E8A8A;
  border-radius: 20px;
}


/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
}

/* Avatar image */
img.avatar {
  width: 40%;
  height: auto;
}

/* Box for input stuff */

.textstuff{
  margin: 10px;
  width: 280px;
  transition: .5s;
}

.Input-field{
  width: 100%;
  padding: 12px 10px;
  margin: 4px 0;
  outline: 0;
  display: inline-block;
  box-sizing: border-box;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  background: transparent;
}

label.Check-box-Remember-Me{
  color: #777;
  font-size: 16px;
  padding: 14px 10px;
  margin: 30px 3px 30px 0;
}

/* Set a style for all buttons */
.loginButtonDes,
.signUpButtSes {
  background-color: #4E8A8A;
  display: flex;
  color: white;
  padding: 14px 20px;
  margin: 20px 69px;
  border: none;
  cursor: pointer;
  width: 50%;
  background-position: center;
  border-radius: 30px;
  justify-content: center;
  font-size: 1rem;
}

/* Add a hover effect for buttons */
.loginButtonDes:hover,
.signUpButtSes:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Style for redirect link*/
.singUpText {
  text-decoration: none;
  }
  
  
.signUpButtSes{
  background-color: #4E8A8A;
  display: flex;
  color: white;
  padding: 14px 20px;
  margin: 20px 69px;
  border: none;
  cursor: pointer;
  width: 50%;
  background-position: center;
  border-radius: 30px; 
  }

  #loginError-text,
  #signupError-text{
    margin:0;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #fd1d1dcc;
  }

/*account-view & account edit*/

.account-view-content,
.account-edit-content{
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.user-card-wrapper,
.user-edit-card-wrapper{
  margin: 10px;
  border-radius: 20px;
  width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 10px 0 #c2c2c2;
}

.user-card-wrapper{
  height: 450px;
}

.user-edit-card-wrapper{
  height: 700px;
}

.user-card-header{
  width: 100%;
  height: 30%;
  background:#212832;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.user-card-header i{
  padding-left: 1rem;
  color:#FBD46D;
  font-size: 6rem;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-card-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 70%;
  font-size:1.2rem;
}

.user-edit-info-form{
  height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.user-edit-text-input-wrap{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.user-edit-text-input{
border: 1px solid #ccc;
padding: 0.2rem 0.5rem;
font: inherit;
border-radius: 0.3rem;
}

.user-edit-text-input:invalid{
  border-color: rgb(189, 3, 3);
  border-width: 2px;
}

.user-edit-form-btn-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-edit-btn,
.user-edit-submit-btn{
  margin: 10px;
  border: none;
  cursor: pointer;
  width: 120px;
  text-decoration: none;
  color: #FBD46D;
  font-size: 1.2rem;
  background-color: #212832;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-family: "Bangers", cursive;
  transition: 0.3s;
}

.user-edit-btn:hover,
.user-edit-submit-btn:hover{
  color: #212832;
  background: #FBD46D;
  border: none;
}

.user-edit-error{
  text-align: center;
  font-size: 1.2rem;
  color:rgb(212, 31, 31);
}

.user-error{
  display: none;
  margin-top: 4px;
  align-self: center;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-radius: 5px;
  width: 85%;
  background: rgba(238, 37, 37, 0.849);
  color: #e0e0e0;
  box-shadow: 0 1px 6px 0 #f73434;
}

/*footer admin*/
#footer-text-area{
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  background-color: #212832;
}

#footer-text-area p{
  margin:0;
  text-align: center;
  font-weight: bold;
  color: #FBD46D;
}


/* footer section */
.main-footer{
  grid-area:footer;
}

.activity-tab{
text-align: center;
background-color: #212832;
color: whitesmoke;
border-radius: 20px 20px 0 0;
}

.activity-tab p{
  margin:0 0 10px 0;
  padding-top: 20px;
  font-size: 1.5rem;
  font-family: 'Bangers', cursive;
}

#activity-find-out-btn{
  width: 100px;
  height: 40px;
  background-color: #FBD46D;
  border-radius: 3px;
  text-align: center;
  border: 2px solid #FBD46D;
  font-size:1rem;
  font-weight: bold;
  font-family: 'Bangers', cursive;
  color: #212832;
  cursor: pointer;
  letter-spacing: 3px;
  transition: 0.3s;
}

#activity-find-out-btn:hover{
  background-color: #212832;
  color: #FBD46D;
}

#social-features {
  margin-top: 10px;
  background: #4E8A8A;
  padding: 1rem;
  border-radius: 60px 60px 0 0;
}

.social-feature-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-feature-image {
  background: #eeeeee;
  width: 50px;
  height: 50px;
  border: 2px solid #2e2e2e;
  border-radius: 50%;
}

.social-feature-image a{
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
}

.sf-insta{
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #e1306c, #fd1d1d);
}

#feature-fb{
  color: #3b5998;
}

#feature-inst{
  color: whitesmoke;
}

#feature-twitter{
  color: #1da1f2;
}

#feature-yt{
  color: #c4302b;
}

/* mobile navigation */

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav_items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav_item {
  margin: 1rem 0;
}

.mobile-nav_item a {
  font-size: 1.5rem;
}

.open {
    display: block !important;
}

.hide{
  display: none;
}

/* Media queries */

@media (min-width: 75rem){

  /*navbar section*/
  .main-nav_item--cta a{
    padding: 0.5rem 1rem;
  }

  .main-nav-item--admin a{
    padding: 0.5rem 0.5rem;
  }

  .main-nav_item--user{
    display: block;
  }

  .main-nav_item--user p{
    font-size: 1.2rem;
    display: block;
  }
}

@media (min-width: 50rem) {
  /*Admin animal edit*/
  .animal-edit-wrapper{
    min-width: 60%;
    height: 90%;
  }
  .animal-edit-form{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: repeat(6, minmax(100px,auto));
    grid-template-areas: "animalNameInputArea animalSexInputArea animalTypeRb"
                          "animalBreedInputArea animalSizeInputArea animalImageArea"
                          "animalAgeInputArea animalSizeInputArea animalImageArea"
                          "animalDescArea animalDescArea animalImageArea"
                          "animalDescArea animalDescArea animalImageInputArea"
                          "animalFormMainBtns animalFormMainBtns animalFormMainBtns";
  }
  /*Index content*/
  .main-index-content{
    
    grid-template-rows: 300px auto auto auto 400px auto;
    grid-template-areas: "ad"
                          "info"
                          "info"
                          "info"
                          "news"
                          "pets";
  }

  .adv-showcase {
    background: url('images/pug.png') no-repeat center;
    background-size: cover;
  }
  
  .d-info{
    flex-direction: row;
    justify-content: space-evenly;
  }

  .d-info div{
    border-radius: 10px;
  }

  .new-pet-title{
    clip-path: polygon(96% 1%, 94% 100%, 6% 100%, 4% 0);
  }

  .f-pet-title{
    clip-path: polygon(96% 1%, 94% 100%, 6% 100%, 4% 0);
  }

  .new-pet-card{
    flex-direction: row;
    width: 85%;
  }

  .new-pet-card img{
    border-bottom: 0;
    border-right: 5px solid #4E8A8A;
    width: 300px;
  }

  .f-pet-cards{
    flex-direction: row;
    flex-wrap: wrap;
  }

  /*Gallery content*/
  .main-gallery-content{
    grid-template-rows: 100px minmax(1000px, max-content);
    grid-template-areas: "filter"
                          "pets-gallery";
  }

  .quick-filter-text{
    display: flex;
  }

  .animal-quick-filter-container form{
    width: 70%;
  }

  .dog-filter-btn,
  .cat-filter-btn,
  .bird-filter-btn
  {
    width: 30%;
  }

  .all-filter-btn{
    width: 20%;
  }

  .pet-gallery-cards{
    flex-direction: row;
    flex-wrap: wrap;
  }

  /*Animal showcase section*/
  .animal-view-info-card{
    width: 730px;
  }
  .animal-view-card-top{
    justify-content: space-evenly;
    background: #212832;
  }
  
  #av-animal-type-img{
    display: block;
    width: 130px;
    height: 150px;
  }

  .animal-view-main-image{
    position: initial;
    width: 300px;
  }

  #av-animal-main-img{
    width: 300px;
  }

  .animal-view-name{
    bottom: 35px;
    left: 60px;
  }

  .animal-view-paws{
    display: block;
    display: flex;
    width: 120px;
    height: 180px;
    flex-direction: column;
  }

  .animal-paw-image{
    opacity: 0;
    width: 40px;
    height: 40px;
  }

  #av-paw4-img{
    align-self: flex-end;
    animation: fadeIn 1s ease 0.5s 1 forwards;
  }

  #av-paw3-img{
    align-self: flex-start;
    animation: fadeIn 1s ease 1s 1 forwards;
  }

  #av-paw2-img{
    align-self: flex-end;
    animation: fadeIn 1s ease 1.5s 1 forwards;
  }

  #av-paw1-img{
    align-self: flex-start;
    animation: fadeIn 1s ease 2s 1 forwards;
  }

  .animal-view-short-info{
    min-height: 80px;
  }
  .animal-view-description{
    width: 75%;
    min-height: 300px;
  }

  /*Navigation section*/
  .toggle-button {
      display: none;
    }
  
    .main-nav {
    display: flex;
  }

   /* Footer section*/
  .social-feature-list{
    justify-content: center;
  }

  .social-feature-image{
    margin: 0 10px;
  }

  /* user content*/

  .account-edit-content{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .user-card-wrapper{
    flex-direction: row;
    width: 70%;
    height: 250px;
}

.user-edit-card-wrapper{
  width: 80%;
  height:370px;
  flex-direction: row;
}

.user-card-header{
    align-items: center;
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 25%;
}

.user-card-body{
  height: 100%;
  width: 75%;
}

.user-edit-info-form{
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.user-edit-text-input-wrap{
  flex-direction: row;
}

.user-card-header i{
  font-size: 5rem;
}

/* About us */

.user-info-goals{

  flex-direction: row;
  
}

.user-box-decisions{
  
  width: 30%;
}

.user-info-bot-animal-format{
  flex-direction: row;
  height: 310px;
  gap: 5px;
}

.find-us-container{
  flex-direction: row;
  gap: 5px;
}

#google-map{
  width: 50%;
}

.find-us-container-info{
  width: 50%;
}

/* Admin section*/
/*admin nav*/
.slider-nav{
  width: 325px;
}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@keyframes border_1{
  0%
    {
      border-color: #FBD46D;
    }
  
  100%
  {
    border-color: #aa8c39;
  }
}

@keyframes textColor_1{
  0%
    {
      color: #FBD46D;
    }
  
  100%
  {
    color: #aa8c39;
  }
}

@keyframes bounce_paw {
  0% {
    bottom: 20px;
    height: 5px;
    color: #FBD46D;
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    bottom: 0;
    transform: scaleX(1.5);
    color: #aa8c39;
  }
}



