body {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    /*display: grid;*/
    /*color: red;*/
    /* grid : repeat (3, 80px) / auto-flow; */
    /* grid-template-columns: 75% 20%  ; */
    /* grid-template-rows: 10vw 25vw 25vw; */
    /* grid-gap: 1em; */
    margin: 0;
}

.button {

    height: 20px;
    width: 100px;
    border: 2px solid teal;
    color: white;
    background-color: rgb(82, 118, 150);
}

.areaForWeb {
    width: 100%;
    border: 5px solid red;
    fill-opacity: 25% ;
}

/*navigation bar*/
.topnav a {
    
    display: grid;
    float: left;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }

  .topnav a:hover {
      border-bottom: 3px solid red;
  }

  .topnav a.active {
      border-bottom: 3ps solid red;
  }
  /*navigation bar*/